.text-center {
  text-align: center !important;
}

.color-grey {
  color: #dddddd !important;
}

.color-green {
  color: #42cb59 !important;
}

.borderBottomGrey {
  border-bottom: 1px solid #ddd !important;
}
